/*
 Theme Name:   Coopaga
 Theme URI:    https://formacoop.coopaname.coop
 Description:  Thème du site formacoop de Coopaname
 Author:       Nicolas Duclos, Delphin Hauchard
 Author URI:   https://coopaname.coop
 Template:     neve
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  coopaga
*/

/* --------------- *
 * "reset" de NEVE *
 * --------------- */

 /*
  * Ajoute les styles définis par Delphin pour Formacoop
  */
  :root {
    /* Les couleurs */
    --colorLight0: #FFF;
    --colorLight1: #8E807D; /*TODO renommer en qqch plus explicite...*/
    --colorLight2: #F2F2F2;

    --hoverColor: #AB4323;

    --formFieldBorderColor: var(--colorLight1);
    --formFieldBorderWidth: 1px;
    --formFieldBorderRadius: 1px;
    --formFieldBgColor: #FFF;

    /* Les margins/paddings */
    --spacing-xs: 8px;
    --spacing-xs2: 16px;
    --spacing-sm: 24px;
    --spacing-sm2: 32px;
    --spacing-lg: 64px;
    --spacing-lg2: 72px;

    /* Les polices */
    --h1FontSize: 40px;
    --h2FontSize: 24px;
    --h3FontSize: 16px;
    --h1LineHeight: 50px;
    --h2LineHeight: 30px;
    --h3LineHeight: 20px;
    --buttonFontSize: 20px;
    --buttonFontWeight: 600;
    --buttonLineHeight: 32px;
    --buttonLetterSpacing: normal;
    --buttonTextTransform: none;

    --formLabelFontWeight: var(--h3FontWeight);
    --formLabelFontSize: var(--h3FontSize);
    --formLabelLineHeight: var(--h3LineHeight);
    --formLabelLetterSpacing: var(--h3LetterSpacing);

    --chapoFontSize: 22px;
    --chapoFontWeight: 600;
    --chapoLineHeight: 32px;    
    --chapoLetterSpacing: normal;

    --primaryBtnBorderRadius: 4px;
    --primaryBtnPadding: var(--spacing-xs) var(--spacing-xs2);
    --btnFontWeight: 700;
    --btnFontSize: 20px;
    --btnFontLineHeight: 32px;

    --bodyFontSize: 18px;
}

h1:not(.entry-title), h2, h3, h4, h5, h6 {
    margin: var(--spacing-sm) 0;
}

.builder-item--header_search {
    --formFieldBorderWidth: 1px;
}

.builder-item--primary-menu {
    --hoverColor: var(--nv-primary-accent);
}

.builder-item .builder-item--custom_html {
    --color: var(--nv-secondary-accent);
    --hoverColor: var(--nv-primary-accent);
}

dl dd {
    padding-left: 0;
}

a:focus, a:hover {
    opacity: 1;
    color: var(--hoverColor);
}
[tabindex="-1"]:focus {
    box-shadow: none;
}

/* remet en pas souligné les liens même dans les entry et autres mis en souligné par neve */
.entry-content a:not([class]),
.nv-comment-content a:not([class]), 
.nv-template .neve-main a:not([class]), 
.widget_text a:not([class]) {
    --linkdeco: none;
}

.builder-item {
    margin: 0;
}

.nav-ul li.current-menu-item > a:not([href*="#"]) {
    color: var(--color);
}

.nav-ul li.current-menu-item {
    border-bottom: 4px solid var(--activeColor);
    margin-bottom: -11px;
}

.nv-page-title-wrap .nv-page-title h1,
.title.entry-title {
    color:  var(--nv-primary-accent);
}

.neve-breadcrumbs-wrapper a {
    /* remet la couleur par défaut d'un lien (écrasé par neve-breadcrumb) */
    color: var(--nv-primary-accent);
}

.nv-page-title .neve-breadcrumbs-wrapper, 
.nv-title-meta-wrap .neve-breadcrumbs-wrapper {
    margin-bottom: 12px;
    color: var(--colorLight1);
}

.entry-header {
    text-align: var(--textAlign,left);
}

.nv-single-post-wrap > div:not(:last-child) {
    margin-bottom: var(--spacing-sm);
}

.nv-single-post-wrap > div:first-child {
    margin-top: var(--spacing-sm);
}

.neve-main > .single-post-container .nv-single-post-wrap.col {
    max-width: 100%;
}

.excerpt-wrap {
    color: var(--colorLight1);
}

.excerpt-wrap p {
    margin-bottom: var(--spacing-xs);
}

.layout-grid .content .nv-meta-list {
    margin-bottom: var(--spacing-xs);
}

ul.page-numbers {
    --listPad: 0;
    list-style: none;
    font-size: var(--buttonFontSize);
    font-weight: var(--buttonFontWeight);
    line-height: var(--buttonLineHeight);
    letter-spacing: var(--buttonLetterSpacing);
    text-transform: var(--buttonTextTransform);
    justify-content: center;
}

ul.page-numbers .current {
    background: var(--nv-secondary-accent);
    color: var(--colorLight0);
}

ul.page-numbers a, 
ul.page-numbers input[type="submit"], 
ul.page-numbers span {
    color: var(--nv-secondary-accent);
    background: none;
    border-radius: 0;
    margin-right: var(--spacing-xs);
}

ul.page-numbers a.next,
ul.page-numbers a.prev {
    color: var(--nv-primary-accent);
    border: 2px solid var(--nv-primary-accent);
}

.search-form {
    display: block;
}
.search-input {
    display: flex;
}

#content .search-input {
    width: 450px;
    max-width: 100%;
}

#site-footer .footer-main {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}
#site-footer .footer-main .widget-area .widget_block:nth-child(2) h3,
#site-footer .footer-main .widget-area .widget_block:nth-child(2) {
    margin-bottom: 0;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
    background-color: transparent;
}
/* ---------------- *
 * "reset" de UM *
 * ---------------- */
body .um {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

body .um .um-tip:hover, 
body .um .um-field-radio.active:not(.um-field-radio-state-disabled) i, 
body .um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i, 
body .um .um-member-name a:hover, 
body .um .um-member-more a:hover, 
body .um .um-member-less a:hover, 
body .um .um-members-pagi a:hover, 
body .um .um-cover-add:hover, 
body .um .um-profile-subnav a.active, 
body .um .um-item-meta a, 
body .um-account-name a:hover, 
body .um-account-nav a.current, 
body .um-account-side li a.current span.um-account-icon, 
body .um-account-side li a.current:hover span.um-account-icon, 
body .um-dropdown li a:hover, 
body i.um-active-color, 
body span.um-active-color {
    color: var(--nv-primary-accent);
}

body a.um-link-alt {
    text-align: left;
    color: var(--nv-primary-accent) !important;
}

body a.um-link-alt:hover {
    color: var(--hoverColor) !important;
}

body .um input[type="submit"].um-button,
body .um a.um-button,
body .um a.um-button.um-disabled:active {
    background-color: var(--nv-primary-accent);
}

body .um input[type="submit"].um-button:hover, 
body .um a.um-button:hover,
body .um input[type="submit"].um-button:focus,
body .um a.um-button.um-disabled:hover,
body .um a.um-button.um-disabled:focus {
    background-color: var(--hoverColor);
}
body input[type="radio"]:focus,
body input[type="checkbox"]:focus
{
    outline: none;
}

body .um .um-button.um-alt,
body .um input[type="submit"].um-button.um-alt {
    background: none;
    color: var(--nv-primary-accent);
}

body .um .um-button.um-alt:hover,
body .um input[type="submit"].um-button.um-alt:hover {
    background: none;
    color: var(--hoverColor);
}

body input[type="submit"].um-button, 
body input[type="submit"].um-button:focus,
body .um-button,
body .um-button:hover,
body a.um-button,
body a.um-button:hover {
    font-size: var(--buttonFontSize);
    font-weight: var(--buttonFontWeight);
    line-height: var(--buttonLineHeight);
    letter-spacing: var(--buttonLetterSpacing);
    text-transform: var(--buttonTextTransform);
	padding: var(--spacing-xs) var(--spacing-xs2) !important;
	text-decoration: none !important;
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: none;
	box-sizing: border-box;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 1;
}

.um-right.um-half,
.um-left.um-half {
    float: none;
    display: inline-block;
    width: auto;
    margin: 0;
}

.um-left.um-half input[type="submit"].um-button {
    margin-top: -26px;
}

body .um-col-alt-b {
    padding-top: 0;
    margin-top: var(--spacing-xs2);
}

body .um-field-checkbox:not(.um-field), 
body .um-field-radio:not(.um-field) {
    margin: var(--spacing-xs2) 0;
}

.um-row._um_row_1 {
    margin-bottom: var(--spacing-xs2) !important;
}

body .um-field-label {
    margin: 0;
}

body div.uimob500 .um-field-half {
    float: left;
    width: auto;
    margin-left: var(--spacing-xs);
  }

.um-field-block div {
    text-align: left !important;
}
body .um-center {
    text-align: left;
}

 /* ---------------- *
 * "reset" de OPAGA *
 * ---------------- */
 :root body {
    --colorText: var(--nv-text-color);
    --colorBackground: #FFF;
    --colorLink: var(--nv-primary-accent);

    --colorHover: var(--hoverColor);
    --colorHover2: #FFF;
    --colorBackgroundHover: var(--hoverColor);

    --colorBoutonText: #FFF;
    --colorBoutonBackground: var(--nv-primary-accent);

    --colorImportant: red;
    --colorAlert: orange;
    --colorSucces: green;
    
    --colorGrey1: #f2f2f2;
    --colorGrey2: #C6B3AF;
    --colorGrey3: #605351;

    --boutonRadius: var(--formFieldBorderRadius);
    --infoRadius: 20px;

    --border: 1px solid var(--colorGrey1);
    --borderHover: 1px solid #000;

    --spacing1: var(--spacing-xs);
    --spacing2: var(--spacing-xs2);
    --spacing3: var(--spacing-sm);
    --spacing4: var(--spacing-sm);
    --spacing5: var(--spacing-lg);

    --width1: 300px;
    --width2: 500px;
    
    --fontSizeSmall: 12px;
    --fontSizeNormal: var(--bodyFontSize);
    --fontSizeMedium: var(--h2FontSize);
    --fontSizeBig: var(--h1FontSize);

    --boxShadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.formation-global .formation-side-content ol, 
.session-global .session-side-content ol, 
.formation-global .formation-side-content ul, 
.session-global .session-side-content ul {
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
}

.formation-global .formation-side-content h2, 
.session-global .session-side-content h2 {
    margin-top:  var(--spacing-sm) !important;
    margin-bottom: 0px !important;
    color: var(--colorLight1);
    font-size: var(--h4FontSize);
    font-weight: var(--h4FontWeight);
    line-height: var(--h4LineHeight);
    text-transform: var(--h4TextTransform);
}

.formation-global .formation-content h2,
.session-global  .formation-content h2 {
    margin-bottom: var(--spacing-xs2);
    margin-top: var(--spacing-sm);
}
.formation-global .formation-content .chapo,
.session-global  .formation-content .chapo {
    color: var(--nv-secondary-accent);
}
.page-membre .nv-page-title {
    display: none;
}
.page-membre article.formation-detail h3 a,
.post-type-archive-formation.archive .blog-entry-title a {
    background-color: var(--nv-primary-accent);
    color: var(--colorLight0);
    line-height: 145%;
}

.page-membre article.formation-detail h3 a:hover,
.post-type-archive-formation.archive .blog-entry-title a:hover {
    background-color: var(--hoverColor);
}

.page-membre article.formation-detail h3 a:before,
.page-membre article.formation-detail h3 a:after,
.post-type-archive-formation.archive .blog-entry-title a:before,
.post-type-archive-formation.archive .blog-entry-title a:after {
    content: "\00a0";
}

.page-membre .meta-infos img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.page-membre .meta-infos a.cv-bouton {
    background-color: transparent;
    border: 1px solid var(--nv-secondary-accent);
    color: var(--nv-secondary-accent);
}
.page-membre .posts-wrapper > article {
    --postwidth: calc(50% - calc( calc(var(--gridspacing,30px) + calc(var(--gridspacing,30px) / 2)) + 5px));
}
.page-membre .posts-wrapper > article.session-detail {
    background-color: #FFF;
}

.page-membre .read-more-wrapper {
    padding: var(--spacing-xs) var(--spacing-xs2);
}
.icone-bouton.premier-contact {
    color: var(--nv-primary-accent);
    border: 1px solid var(--nv-primary-accent);
    background-color: transparent;
}
.icone-bouton.premier-contact:hover {
    background-color: transparent;
    color: var(--colorHover);
    border-color: var(--colorHover);
}
.content-formateur h1 {
    color: var(--nv-secondary-accent);
}
.presentation-formateur > .meta-formateur .meta-infos > * {
    margin-bottom: var(--spacing-sm);
}
.excerpt-wrap .session-dates {
    font-weight: bold;
    color: var(--nv-text-color);
}
body .bouton, 
body .gestion-docs-admin .doc-bouton {
    border: var(--formFieldBorderWidth) solid var(--formFieldBorderColor);
    border-radius: var(--formFieldBorderRadius);
}

.cover-post .inner {
    background-color: #FFF;
    --color: var(--nv-primary-accent);
    padding: 0;
    height: min-content;
    min-width: 100%;
}
.cover-post .inner > * {
    padding-right: var(--spacing-xs2);
    padding-left: var(--spacing-xs2);
}
.cover-post .inner .entry-title {
    padding-top: var(--spacing-xs2);
    padding-bottom: 0;
    margin-bottom: var(--spacing-xs);
}
.cover-post .inner .nv-meta-list {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: var(--spacing-xs2);
    margin-bottom: var(--spacing-xs2);
    border-bottom: 1px solid var(--colorLight2);
}
.cover-post .inner .read-more-wrapper {
    text-align: center;
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    margin-left: calc(-1 * var(--spacing-xs2));
    margin-right: calc(-1 * var(--spacing-xs2));
    margin-top: var(--spacing-xs2);
    border-top: 1px solid var(--colorLight2);
}
.cover-post .inner .entry-summary ul {
    margin: var(--spacing-xs) 0;
}
.cover-post .inner .entry-summary h4 {
    margin-bottom: var(--spacing-xs);
}
.cover-post .inner .nv-meta-list li {
    margin: 0 var(--spacing-xs)/2;
}
.cover-post .inner .nv-meta-list li.meta:not(:last-child):after {
    content: "";
    padding: 0;
}
.cover-post .inner .tag a {
    border: 1px solid var(--nv-secondary-accent);
    color: var(--nv-secondary-accent);
    padding: 0px var(--spacing-xs);
}
.cover-post::after {
    display: none;
}

.formateur .cover-post .inner {
    justify-content: flex-start;
}
.formateur .cover-post .inner .entry-title {
    padding-top: 0;
}
.formateur .cover-post .inner > header {
    display: flex;
    padding-top: var(--spacing-xs2);
    padding-bottom: var(--spacing-xs2);
    border-bottom: 1px solid var(--colorLight2);
}
.formateur .cover-post .inner > header > div {
    padding: 0 var(--spacing-xs);
}
.formateur .cover-post .inner > header .formateur-photo {
    min-width: 104px;
}
.formateur .cover-post .inner > header .formateur-photo img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
}
.formateur .cover-post .inner > header ul.nv-meta-list {
    margin: 0;
    padding-left: 0;
}
.formateur .cover-post .inner .nv-meta-list {
    border-bottom: none;
}
.formateur .excerpt-wrap {
    --listPad: 0;
    --listStyle: none;
    flex-basis: 100%;
    padding-top: var(--spacing-xs2);
}
.formateur .nv-content-wrap li {
    margin-top: 0;
}

.cover-overlay {
    background: white;
}

.nv-title-meta-wrap .nv-meta-list { display: none }

body .ui-dialog .ui-dialog-titlebar {
    padding: 0;
    border-bottom: var(--border);
}
body .ui-dialog .ui-dialog-title {
    float: none;
    font-size: var(--h3FontSize);
    font-weight: var(--h3FontWeight);
    line-height: var(--h3LineHeight);
    color: var(--nv-primary-accent);
    margin: var(--spacing-xs2) var(--spacing-lg);
    display: block;
}
body .ui-dialog .ui-dialog-content {
    padding: var(--spacing-sm) var(--spacing-lg);
}
body .ui-dialog .ui-dialog-content form {
    padding: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
    padding: var(--spacing-xs2) var(--spacing-sm);
    background-color: var(--nv-secondary-accent);
    color: #FFF;
}
/* Marche pas.
.valider::after {
    font-family: "Font Awesome 6 Free";
    content: "\f061";
    margin-left: var(--spacing-xs);
}
*/
body .search-form .search-field,
body button, 
body .bouton, 
body .gestion-docs-admin .doc-bouton {
    border: 0;
}

.icone-bouton[data-function="new_formation"] {
    --colorBoutonBackground: var(--nv-secondary-accent);
}
.wp-editor-tabs br {
    display: none;
}

.ui-widget-content a.clickButton {
    background-color: var(--nv-primary-accent);
    color: #FFF;
  }
.ui-widget-content a.clickButton:hover {
    color: #FFF;
    border: none;
  }
body .openButton {
    background-color: transparent;
    color: var(--nv-secondary-accent);
    border: 1px solid var(--nv-secondary-accent);
}
.input_jpost span.is-after,
body .input_jpost select {
    height: 35px;
}
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
.edit-data > *:not(table):not(td):not(.icone-aide):not(.icone-bouton):not(.white-board),
body fieldset
{
    padding: 0;
}

.white-board table:not(.tarif) {
    margin-left: calc(-1 * var(--spacing3));
    width: calc(100% + calc(2 * var(--spacing3)));
    margin-right: calc(-1 * var(--spacing3));
}

#tab-formation > div:not(.presentation) > h4 {
    margin-top: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    border-top: 1px solid var(--colorGrey1);
}
#tab-formation > div > h4 {
    color: var(--colorGrey3);
}

.white-board.infos-generales,
.white-board.session-infos {
    padding: var(--spacing-sm2) var(--spacing-lg);
}
#tab-session .session-infos > fieldset:not(:first-child) legend {
    border-top: 1px solid var(--colorGrey1);
    width: 100%;
    padding-top: var(--spacing-sm);
}
#session .icone-aide.border {
    margin-bottom: var(--spacing-sm);
}
#tab-lieu input[name="lieu_nom"] {
    width: 100%;
}
#tab-lieu .lieu_ville,
#tab-lieu .lieu_code_postal {
    display: inline-block;
    width: calc(50% - var(--spacing-xs2));
    margin-right: var(--spacing-xs2);
}
body .white-board > *:first-child {
    margin-top: 0;
}
body .dialog-grid > div[class], 
body .white-board > div[class] {
    margin-top: var(--spacing-xs2);
}
body .dialog-grid > div .input_jpost, 
body .white-board > div .input_jpost {
    margin-top: 0;
}

/* --------------------- *
 * Autres customisations *
/* --------------------- */

.read-more-wrapper a,
.readmore {
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  line-height: var(--buttonLineHeight);
  letter-spacing: var(--buttonLetterSpacing);
  text-transform: var(--buttonTextTransform);
}

.chapo {
    font-size: var(--chapoFontSize);
    font-weight: var(--chapoFontWeight);
    line-height: var(--chapoLineHeight);
    letter-spacing: var(--chapoLetterSpacing);
}

.btn-primary {
    font-size: var(--buttonFontSize);
    font-weight: var(--buttonFontWeight);
    line-height: var(--buttonLineHeight);
    letter-spacing: var(--buttonLetterSpacing);
    text-transform: var(--buttonTextTransform);
    background-color: none;
    border: 1px solid var(--nv-primary-accent);
    padding: var(--spacing-xs) var(--spacing-xs2);
}
.btn-primary:hover {
    border-color: var(--hoverColor);
}
body .html-active .switch-html,
body .tmce-active .switch-tmce {
    border-bottom-color: #dcdcde;
}

/* Pour que les positions sticky fonctionnent, écrase le overflow: hidden de neve */
body>.wrapper:not(.et-fb-iframe-ancestor) {
 overflow: visible;
}
